{% extends "base.html" %}

{% block title %}
Send me the weather
{% endblock %}

{% block h2%}
☀️🌦 Send me the weather❄️☔️
{% endblock%}

{% block content%}
<form action="{{url_for('hello_world')}}" method="POST" novalidate>
    {{form.csrf_token}}
    <div class="form-floating mb-3">
        {{ render_field(form.email, class_='form-control', placeholder='email') }}
    </div>

    <div class="form-floating mb-3">
        {{ render_field(form.location, class_='form-control', placeholder='location') }}
        {{ form.lat }}
        {{ form.lng }}
    </div>

    {{ form.submit(class_="btn btn-primary" )}}

</form>
{% endblock %}